$bgColor: #ffebcd;
$fontFamily: Montserrat;
$fontSize: 1.2rem;
$navBgColor: rgb(255, 86, 86);
$bannerBgColor: green;
$myBorder: 2px solid brown;
$fontColor: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  color: $fontColor;
}

header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 80px;
    border: $myBorder;
    border-radius: 1rem;
    padding: 3px;
    background-color: $fontColor;
    margin: 10px;
  }
  a {
    text-decoration: none;
    color: $fontColor;
    margin-right: 1rem;
    cursor: pointer;
  }
}

ul {
  list-style: none;

  li {
    display: inline-block;
    text-decoration: none;
  }
}

banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bannerBgColor;
  line-height: 2rem;
  padding: 1rem;

  aside {
    button {
      color: $fontColor;
      background-color: black;
      border: none;
      padding: 10px;
      border-radius: 0.7rem;
      margin-top: 1rem;
      cursor: pointer;

      &:hover {
        background-color: grey;
      }
    }
  }
}

@mixin rset($color, $color2) {
  border: 2px solid red;
  border-radius: 1rem;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  background-color: $color;
  color: $color2;
  align-items: center;
  text-align: center;
}

.card1 {
  @include rset(black, grey);
}
.card2 {
  @include rset(purple, grey);
}
.card3 {
  @include rset(red, grey);
}
.card4 {
  @include rset(green, grey);
}
