$bgColor: #ffebcd;
$fontFamily: Montserrat;
$fontSize: 1.2rem;
$navBgColor: rgb(255, 86, 86);
$bannerBgColor: green;
$myBorder: 2px solid brown;
$fontColor: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  color: $fontColor;
}

header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 80px;
    border: $myBorder;
    border-radius: 1rem;
    padding: 3px;
    background-color: $fontColor;
    margin: 10px;
  }
  a {
    text-decoration: none;
    color: $fontColor;
    margin-right: 1rem;
    cursor: pointer;
  }
}

ul {
  list-style: none;

  li {
    display: inline-block;
    text-decoration: none;
  }
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bannerBgColor;
  line-height: 2rem;
  padding: 1rem;

  aside {
    button {
      color: $fontColor;
      background-color: black;
      border: none;
      padding: 10px;
      border-radius: 0.7rem;
      margin-top: 1rem;
    }
  }
}
